.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
}

.reset-password-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #095aab;
}

.reset-password-form h2 {
  margin-bottom: 20px;
  text-align: center;
  color: rgb(236, 224, 0);
  margin-right: auto;
}

.reset-password-form input,
.password-input-container input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  padding-right: 70px;
}

.reset-password-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #101010;
  color: white;
  cursor: pointer;
  font-size: 15px;
}
.submit{
  width: 73%;
}

.reset-password-form button:hover {
  background-color: #113e3c;
}

.reset-password-form p {
  color: rgb(240, 240, 240);
  text-align: center;
  font-size: 20px;
}

.password-input-container {
  position: relative;
  margin-bottom: 15px;
}

.toggle-password-visibility {
  position: absolute;
  right: 1px;
  top: 41%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #007bff;
}

@media(max-width:480px) {
  .reset-password-form {
    padding: 10px;
  }

  .reset-password-form h2 {
    font-size: 1rem;
  }

  .reset-password-form input {
    font-size: 0.6rem;
  }

  .toggle-password-visibility {
    font-size: 0.6rem;
    height: auto;
  }
}

@media(max-width:400px) {
  .reset-password-form {
    padding: 10px;
  }

  .reset-password-form h2 {
    font-size: 1rem;
  }

  .reset-password-form input {
    font-size: 0.6rem;
  }

  .toggle-password-visibility {
    font-size: 0.6rem;
    height: auto;
  }
}
