.sidebar {
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    border-top: 0;
    font-size: max(1vw, 10px);
    background-color: rgb(79, 113, 60);
  }
  
  .sidebar-options {
    padding-top: 55px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: bolder;
  }
  
  .sidebar-option {
    background-color: rgb(229, 211, 199);
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #a9a9a9;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
  }
  
  .sidebar-option p {
    color: rgb(0, 0, 0);
  }
  
  .sidebar-option.active {
    background-color: #8888ff;
    border-color: tomato;
  }
  
  @media (max-width: 900px) {
    .sidebar-options p {
      display: none;
      padding-right: 50px;
    }
    .sidebar-option {
      padding-left: 1px;
    }
  }
  
  @media (max-width: 500px) {
    .sidebar-options p {
      display: none;
      padding-right: 100px;
    }
    .sidebar-option {
      padding-left: 1px;
    }
  }
  
  @media (max-width: 400px) {
    .sidebar-option p {
      display: none;
    }
    .sidebar-option {
      margin-right: 50px;
    }
  }
  