.food-item-names {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    font-size: 0.9rem;
    color: #555;
  }
  
  .food-item {
    margin-bottom: 5px;
  }
  
  .food-item-image {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  
  .order-item-food {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .item-item {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .order-item-date {
    font-size: 0.9rem;
    color: #555;
  }
  
  .order-total p {
    font-size: 1rem;
    font-weight: bold;
  }
  